{% extends 'base_page.html.twig' %}

{% set project_name = setting('project_name') %}
{% set app_url = setting('app_url') %}

{% block title %}{{ setting('app_name') }} - {{ "welcome.headline"|trans({'%project_name%': project_name}) }}{% endblock %}

{% block page_title %}{{ "welcome.headline"|trans({'%project_name%': project_name}) }}{% endblock %}

{% block page_subtitle %}{{ "welcome.lead"|trans }}{% endblock %}

{% block page_content %}
    <div class="max-w-4xl mx-auto">
        <div class="bg-white dark:bg-gray-800 rounded-xl shadow-sm border border-gray-200 dark:border-gray-700 p-8 sm:p-12">
            <div class="prose prose-lg dark:prose-invert max-w-none">
                {{ "welcome.text"|trans({'%project_name%': project_name, '%app_url%': app_url})|raw }}
            </div>

            <div class="mt-8 text-right">
                <a href="{{ path('start') }}"
                   class="inline-flex items-center px-6 py-3 bg-blue-600 dark:bg-blue-500 text-white font-medium rounded-lg hover:bg-blue-700 dark:hover:bg-blue-600 focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 dark:focus:ring-offset-gray-800 transition-colors duration-200">
                    {{ "welcome.next-button"|trans }}
                    {{ ux_icon('heroicons:arrow-right', {'class': 'w-5 h-5 ml-2'}) }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}
