{% extends 'base_step.html.twig' %}

{% block title %}{{ domain }} - {{ "recovery.token-lead"|trans }}{% endblock %}

{% form_theme form 'Form/fields.html.twig' %}

{% block step_title %}{{ "recovery.token-lead"|trans }}{% endblock %}

{% block step_description %}
    <p class="text-gray-600">{{ "recovery-token.created-info"|trans }}</p>
{% endblock %}

{% block step_icon %}
    <div class="w-16 h-16 bg-green-100 rounded-xl flex items-center justify-center">
        <!-- Heroicon: ticket -->
        {{ ux_icon('heroicons:ticket', {'class': 'w-8 h-8 text-green-600'}) }}
    </div>
{% endblock %}

{% block step_content %}
    {% include 'Recovery/show_recovery_token.html.twig' %}

    <div class="mt-8">
        {% include 'Recovery/recovery_token_notes.html.twig' %}
    </div>

    <div class="mt-6 flex justify-center">
        <a href="{{ url('index') }}"
           class="px-6 py-3 bg-gray-100 text-gray-700 font-medium rounded-lg hover:bg-gray-200 focus:ring-2 focus:ring-gray-500 focus:ring-offset-2 transition-colors duration-200">
            {{ "error.back_link"|trans }}
        </a>
    </div>
{% endblock %}
