{% extends 'base_step.html.twig' %}

{% block title %}{{ setting('app_name') }} - {{ "recovery.header"|trans }}{% endblock %}

{% form_theme form 'Form/fields.html.twig' %}

{% block step_title %}{{ "recovery.header"|trans }}{% endblock %}

{% block step_description %}
    <p class="text-gray-600 dark:text-gray-300">{{ "recovery.lead"|trans }}</p>
{% endblock %}

{% block step_icon %}
    <div class="w-16 h-16 bg-yellow-100 dark:bg-yellow-900/50 rounded-xl flex items-center justify-center">
        {{ ux_icon('heroicons:key', {'class': 'w-8 h-8 text-yellow-600 dark:text-yellow-400'}) }}
    </div>
{% endblock %}

{% block step_content %}
    {% block recovery_content %}
    {% endblock %}
{% endblock %}
