<h3>{{ "index.alias-headline"|trans }}</h3>

{%  if alias_creation_random %}
    {{ form_start(random_alias_form) }}
    {{ form_errors(random_alias_form) }}
    <div class="form-group">
        {{ form_widget(random_alias_form.submit, {'attr': {'class': 'btn btn-primary' } }) }}
    </div>
    {{ form_end(random_alias_form) }}
{% else %}
    <p class="alert alert-info">{{ "index.alias-limit"|trans({
            '%alias_limit%': constant('App\\Handler\\AliasHandler::ALIAS_LIMIT_RANDOM'),
            '%alias_type': random|trans
        }) }}</p>
{% endif %}

{% if aliases is defined and aliases|length > 0 %}
    <ul class="list-group">
        {% for alias in aliases %}
            <li class="list-group-item list-group-item-primary">
                {{ alias.source }}
                <span class="pull-right">
                    <a class="btn btn-danger btn-xs" href="{{ url('alias_delete', {'aliasId': alias.id}) }}">x</a>
                </span>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p class="alert alert-info">{{ "index.alias-empty"|trans() }}</p>
{% endif %}

{%  if alias_creation_custom %}
    {{ form_start(custom_alias_form) }}
    {{ form_errors(custom_alias_form) }}
<div class="form-group">
    {{ form_label(custom_alias_form.alias) }}
    {{ form_widget(custom_alias_form.alias, {'attr': {'class': 'form-control' }}) }}
</div>

<div class="form-group">
    {{ form_widget(custom_alias_form.submit, {'attr': {'class': 'btn btn-primary' } }) }}
</div>
{{ form_end(custom_alias_form) }}
{% else %}
    <p class="alert alert-info">{{ "index.alias-limit"|trans({
            '%alias_limit%': constant('App\\Handler\\AliasHandler::ALIAS_LIMIT_CUSTOM'),
            '%alias_type%': 'custom'|trans
        }) }}</p>
{% endif %}