{% extends 'base.html.twig' %}

{% block subtitle %}{{ "start.aliases"|trans }}{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{{ path('index') }}">Start</a></li>
        <li class="active">{{ "start.aliases"|trans }}</li>
    </ol>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <h3>{{ "index.alias-headline"|trans({'%alias_type%': 'custom'|trans}) }}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            {%  if alias_creation_custom %}
                {{ form_start(custom_alias_form) }}
                {{ form_errors(custom_alias_form) }}
                <div class="form-group">
                    <div class="input-group">
                        {{ form_widget(custom_alias_form.alias, {'attr': {'class': 'form-control' }, 'value': ''}) }}
                        <span class="input-group-addon">@{{ user_domain }}</span>
                        <div class="input-group-btn">
                            {{ form_widget(custom_alias_form.submit, {'attr': {'class': 'btn btn-primary' } }) }}
                        </div>
                    </div>
                </div>
                {{ form_end(custom_alias_form) }}
            {% else %}
                <p class="alert alert-info">{{ "index.alias-limit"|trans({
                        '%alias_limit%': constant('App\\Handler\\AliasHandler::ALIAS_LIMIT_CUSTOM'),
                        '%alias_type%': 'custom'|trans
                    }) }} {{  "index.alias-deletion-custom"|trans }}</p>
            {% endif %}

            <ul class="list-group">
                {%  if aliases_custom is empty %}
                    <li class="list-group-item ">{{ "index.alias-empty"|trans({'%alias_type%': 'custom'|trans}) }}</li>
                {%  else %}
                    {% for alias in aliases_custom %}
                        <li class="list-group-item list-group-item-primary">
                            {{ alias.source }}
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>

            <h3>{{ "index.alias-headline"|trans({'%alias_type%': 'random'|trans}) }}</h3>

            {%  if alias_creation_random %}
                {{ form_start(random_alias_form) }}
                {{ form_errors(random_alias_form) }}
                <div class="form-group">
                    {{ form_widget(random_alias_form.submit, {'attr': {'class': 'btn btn-primary' } }) }}
                </div>
                {{ form_end(random_alias_form) }}
            {% else %}
                <p class="alert alert-info">{{ "index.alias-limit"|trans({
                        '%alias_limit%': constant('App\\Handler\\AliasHandler::ALIAS_LIMIT_RANDOM'),
                        '%alias_type%': random|trans
                    }) }} {{  "index.alias-deletion-random"|trans }}</p>
            {% endif %}

            <ul class="list-group">
                {%  if aliases_random is empty %}
                    <li class="list-group-item ">{{ "index.alias-empty"|trans({'%alias_type%': 'random'|trans}) }}</li>
                {%  else %}
                    {% for alias in aliases_random %}
                        <li class="list-group-item list-group-item-primary">
                            {{ alias.source }}
                            <span class="pull-right">
                                <button type="button" class="btn btn-default btn-xs"
                                        data-button="copy-to-clipboard" data-value="{{ alias.source }}"
                                        title="{{ "index.alias-copy"|trans }}"
                                        data-toggle="tooltip" data-placement="top">
                                    <span class="glyphicon glyphicon-copy"></span>
                                </button>
                                <a class="btn btn-danger btn-xs" href="{{ url('alias_delete', {'aliasId': alias.id}) }}">x</a>
                            </span>
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>

        <div class="col-xs-12 col-sm-6">
            <div class="alert alert-info">{{ "index.alias-explanation"|trans({
                    '%alias_limit_random%': constant('App\\Handler\\AliasHandler::ALIAS_LIMIT_RANDOM'),
                    '%alias_limit_custom%': constant('App\\Handler\\AliasHandler::ALIAS_LIMIT_CUSTOM'),
                })|raw }}</div>
        </div>
    </div>
{% endblock %}
