{{ form_start(form) }}
<h3>{{ "form.change-password"|trans }}</h3>

{{ form_errors(form) }}

<div class="form-group">
    {{ form_label(form.password) }}
    {{ form_errors(form.password) }}
    {{ form_widget(form.password, {'attr': {'class': 'form-control' }}) }}
</div>

<div class="form-group">
    {{ form_label(form.newPassword.first) }}
    {{ form_errors(form.newPassword.first) }}
    {{ form_widget(form.newPassword.first, {'attr': {'class': 'form-control' }}) }}

    {{ form_label(form.newPassword.second) }}
    {{ form_widget(form.newPassword.second, {'attr': {'class': 'form-control' }}) }}
</div>

<div class="form-group">
    {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary' }}) }}
</div>
{{ form_end(form) }}
