{% extends 'base.html.twig' %}

{% if form is defined %}
    {% form_theme form 'Form/fields.html.twig' %}
{% endif %}
{% if password_form is defined %}
    {% form_theme password_form 'Form/fields.html.twig' %}
{% endif %}

{% block content %}

    <div class="row">
        <div class="col-xs-12">
            <h2>{{ "index.title"|trans }}</h2>

            <p class="lead">{{ "start.intro"|trans }}</p>
        </div>
    </div>

    <div class="row">
        {%  if webmail_url is defined and webmail_url is not empty %}
            {%  if webmail_url starts with 'https://' %}
                {% set url = webmail_url | slice(8) %}
            {% elseif webmail_url starts with 'http://' %}
                {% set url = webmail_url | slice(7) %}
            {% else %}
                {% set url = webmail_url %}
            {% endif %}
        <div class="col-xs-6 col-sm-4 col-md-3">
            <a href="https://{{ url|escape("url") }}" class="thumbnail" target="_blank">
                <img src="{{  asset('build/images/mail-read.svg') }}" alt="Webmail">
                <div class="caption">
                    <h3>{{ "start.webmail"|trans }}</h3>
                    <p>{{ "start.webmail-desc"|trans }}</p>
                </div>
            </a>
        </div>
        {% endif %}
        {%  if domain == user_domain and not is_granted('ROLE_SUSPICIOUS')  %}
        <div class="col-xs-6 col-sm-4 col-md-3">
            <a href="{{ path('vouchers') }}" class="thumbnail">
                <img src="{{  asset('build/images/diff-added.svg') }}" alt="Invite Codes">
                <div class="caption">
                    <h3>{{ "start.vouchers"|trans }}</h3>
                    <p>{{ "start.vouchers-desc"|trans }}</p>
                </div>
            </a>
        </div>
        {% endif %}
        <div class="col-xs-6 col-sm-4 col-md-3">
            <a href="{{ path('aliases') }}" class="thumbnail">
                <img src="{{  asset('build/images/gist-secret.svg') }}" alt="Alias">
                <div class="caption">
                    <h3>{{ "start.aliases"|trans }}</h3>
                    <p>{{ "start.aliases-desc"|trans }}</p>
                </div>
            </a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3">
            <a href="{{ path('account') }}" class="thumbnail">
                <img src="{{  asset('build/images/tools.svg') }}" alt="Account Settings">
                <div class="caption">
                    <h3>{{ "start.account-settings"|trans }}</h3>
                    <p>{{ "start.account-settings-desc"|trans }}</p>
                </div>
            </a>
        </div>
    </div>

{% endblock %}
