{% extends 'base.html.twig' %}

{% if form is defined %}
    {% form_theme form 'Form/fields.html.twig' %}
{% endif %}
{% if password_form is defined %}
    {% form_theme password_form 'Form/fields.html.twig' %}
{% endif %}

{% block content %}

    <div class="row">
        <div class="col-xs-12">
            <h2>{{ "index.title"|trans }}</h2>

            <p class="lead">{{ "start.intro"|trans }}</p>
        </div>
    </div>

    <div class="row">
        {%  if not is_granted('ROLE_SUSPICIOUS') %}
        <div class="col-xs-6 col-sm-4 col-md-3">
            <a href="{{ path('vouchers') }}" class="thumbnail">
                <img src="{{  asset('build/images/diff-added.svg') }}" alt="Invite Codes">
                <div class="caption">
                    <h3>{{ "start.vouchers"|trans }}</h3>
                </div>
            </a>
        </div>
        {% endif %}
        <div class="col-xs-6 col-sm-4 col-md-3">
            <a href="{{ path('aliases') }}" class="thumbnail">
                <img src="{{  asset('build/images/gist-secret.svg') }}" alt="Alias">
                <div class="caption">
                    <h3>{{ "start.aliases"|trans }}</h3>
                </div>
            </a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3">
            <a href="{{ path('account') }}" class="thumbnail">
                <img src="{{  asset('build/images/tools.svg') }}" alt="Account Settings">
                <div class="caption">
                    <h3>{{ "start.account-settings"|trans }}</h3>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <hr />
        <p class="text-muted"><small>{{ "index.logged_in_as"|trans({'%user%': user.email}) }} </small></p>
    </div>

{% endblock %}
