{% form_theme openpgp_file_form 'Form/fields.html.twig' %}

{{ form_start(openpgp_file_form) }}
{{ form_errors(openpgp_file_form) }}

<div class="form-group">
    {{ form_errors(openpgp_file_form.key) }}
    {{ form_help(openpgp_file_form.key) }}
    {{ form_widget(openpgp_file_form.key, {'attr': {'class': 'form-control' }}) }}
    {{ form_widget(openpgp_file_form.submit, {'attr': {'class': 'btn btn-primary' }}) }}
</div>
{{ form_end(openpgp_file_form) }}

{{ form_start(openpgp_text_form) }}
{{ form_errors(openpgp_text_form) }}

<div class="form-group">
    {{ form_errors(openpgp_text_form.key) }}
    {{ form_widget(openpgp_text_form.key, {'attr': {'class': 'form-control' }}) }}
</div>

<div class="form-group">
    {{ form_widget(openpgp_text_form.submit, {'attr': {'class': 'btn btn-primary' }}) }}
</div>
{{ form_end(openpgp_text_form) }}
