{% extends 'base.html.twig' %}

{% block subtitle %}{{ "start.wkd-settings"|trans }}{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{{ path('index') }}">Start</a></li>
        <li class="active">{{ "start.wkd-settings"|trans }}</li>
    </ol>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <h3>{{ "start.wkd-settings-title"|trans }}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            {% form_theme wkd_form 'Form/fields.html.twig' %}
            {{ form_start(wkd_form) }}
            <div class="form-group">
                {{ form_errors(wkd_form) }}
            </div>

            <div class="form-group">
                {{ form_label(wkd_form.keyFile) }}
                {{ form_errors(wkd_form.keyFile) }}
                {{ form_widget(wkd_form.keyFile) }}
            </div>

            <div class="form-group">
                <label><i>{{ "form.wkd-key-upload-or"|trans }}</i></label>
            </div>

            <div class="form-group">
                {{ form_label(wkd_form.keyText) }}
                {{ form_errors(wkd_form.keyText) }}
                {{ form_widget(wkd_form.keyText, {'attr': {'class': 'form-control' }}) }}
            </div>

            <div class="form-group">
                {{ form_widget(wkd_form.submit, {'attr': {'class': 'btn btn-primary' }}) }}
            </div>

            {{ form_end(wkd_form) }}
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="alert alert-info">
                <p class="lead">{{ "wkd.information"|trans }}</p>
                <p>{{ "wkd.information-details"|trans|raw }}</p>
            </div>
        </div>

        {% if openpgp_fingerprint %}
            <div class="col-xs-12 col-sm-6 col-md-6">
                <h4>{{ "wkd.key-info"|trans }}</h4>
                <p class="alert alert-info">
                    {{ openpgp_fingerprint }}
                </p>
                <p><a class="btn btn-danger btn-primary" href="{{ url('wkd_delete') }}">{{ "wkd.delete-button"|trans }}</a></p>
            </div>
        {% endif %}
    </div>
{%  endblock %}
