{% extends 'base.html.twig' %}

{% form_theme form 'Form/fields.html.twig' %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{{ path('index') }}">Start</a></li>
        <li><a href="{{ path('aliases') }}">{{ "start.wkd"|trans }}</a></li>
        <li class="active">{{ "start.wkd-delete"|trans }}</li>
    </ol>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <h2>{{ "delete.wkd.headline"|trans }}</h2>
            <p class="lead">{{ "delete.wkd.lead"|trans }}</p>
            {{ form_start(form) }}
            {{ form_errors(form) }}
            <div class="form-group">
                {{ form_label(form.password) }}
                {{ form_errors(form.password) }}
                {{ form_widget(form.password, {'attr': {'class': 'form-control' }}) }}
            </div>

            <div class="form-group">
                {{ form_widget(form.submit, {'attr': {'class': 'btn btn-danger' }}) }}
                <a href="{{ url('index') }}" class="btn btn-default">{{ "delete.cancel"|trans }}</a>
            </div>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
