<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{ domain }} - {% block subtitle %}{{ "index.title"|trans }}{% endblock %}{% endblock %}</title>

    {% block head_style %}
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    {% endblock %}

    {% block head_script %}
        <script src="{{ asset('build/app.js') }}"></script>
    {% endblock %}
</head>
<body>
    {% block navbar %}
        <nav class="navbar navbar-default navbar-static-top navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    {% block brand %}
                        <a class="navbar-brand" href="{{ project_url }}" target="_self">{{ project_name }}</a>
                    {% endblock %}
                </div>

                <div class="navbar-collapse">
                    {% block menu %}
                        {{ knp_menu_render('navbar-left', {'template': 'knp_menu.html.twig'}) }}
                        {{ knp_menu_render('navbar-right', {'template': 'knp_menu.html.twig'}) }}
                        {% include '_locale_switcher.html.twig' %}
                    {% endblock %}
                </div>
            </div>
        </nav>
    {% endblock %}

    {% block container %}
        <div class="container">
            {% block flashes %}
                {% if app.session.flashbag.peekAll|length > 0 %}
                    <div class="flash-notification">
                        {% for type, messages in app.session.flashbag.all %}
                            {% for message in messages %}
                                <div class="alert alert-{{ type == 'error' ? 'danger' : type }}">
                                    {{ message|trans|raw }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                    </div>
                {% endif %}
            {% endblock flashes %}

            {% block breadcrumbs %}
            {% endblock %}

            {% block content %}
            {% endblock %}

            {% if user.email is defined %}
                {% include 'Footer/logged_in_footer.twig' %}
            {% endif %}
        </div>
    {% endblock %}

    {% block foot_script %}
    {% endblock foot_script %}
</body>
</html>
