{% extends 'MopaBootstrapBundle::base.html.twig' %}

{% from 'MopaBootstrapBundle::flash.html.twig' import session_flash %}

{% block head_style %}
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
{% endblock %}

{% block head_script %}
    <script src="{{ asset('build/app.js') }}"></script>
{% endblock %}

{% block title %}
    {{ domain }} - {% block subtitle %}{{ "index.title"|trans }}{% endblock %}
{% endblock %}

{% block navbar %}
    {% embed '@MopaBootstrap/Navbar/navbar.html.twig' with { fixedTop: true, staticTop: true, inverse: true, fluid: true } %}
        {% block brand %}
            <a class="navbar-brand" href="{{  project_url }}" target="_blank">{{ project_name }}</a>
        {% endblock %}

        {% block menu %}
            {{ mopa_bootstrap_menu('navbar-left') }}
            {{ mopa_bootstrap_menu('navbar-right') }}
            {% include '_locale_switcher.html.twig' %}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block container %}
    <div class="container">
        {% block flashes %}
            {% if app.session.flashbag.peekAll|length > 0 %}
                <div class="flash-notification">
                    {{ session_flash(true)|trans|raw }}
                </div>
            {% endif %}
        {% endblock flashes %}

        {% block breadcrumbs %}
        {% endblock %}

        {% block content %}

        {% endblock %}
        {%  if user.email is defined %}
            {%  include 'Footer/logged_in_footer.twig' %}
        {% endif %}
    </div>
{% endblock %}

{% block foot_script %}
{% endblock foot_script %}
