{% extends 'knp_menu_base.html.twig' %}

{% block item %}
{% if item.displayed %}
{%- set attributes = item.attributes %}
{%- set is_dropdown = attributes.dropdown|default(false) %}
{%- set divider_prepend = attributes.divider_prepend|default(false) %}
{%- set divider_append = attributes.divider_append|default(false) %}

{%- if divider_prepend %}
    {{ block('dividerElement') }}
{%- endif %}

{%- if is_dropdown %}
    <div class="relative dropdown">
        <a href="#" class="text-white hover:text-gray-300 px-3 py-2 rounded-md text-sm font-medium dropdown-toggle" data-toggle="dropdown">
            {{ block('label') }}
            <svg class="w-4 h-4 ml-1 inline" fill="currentColor" viewBox="0 0 20 20">
                <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
            </svg>
        </a>
        <ul class="absolute left-0 mt-2 w-48 bg-white border border-gray-200 rounded-md shadow-lg z-10 hidden dropdown-menu">
            {{ block('list') }}
        </ul>
    </div>
{%- else %}
    <a href="{{ item.uri }}" class="text-white hover:text-gray-300 px-3 py-2 rounded-md text-sm font-medium{% if item.current %} bg-gray-900{% endif %}">
        {{ block('label') }}
    </a>
{%- endif %}

{%- if divider_append %}
    {{ block('dividerElement') }}
{%- endif %}
{% endif %}
{% endblock %}

{% block dividerElement %}
    <li class="border-t border-gray-200 my-1"></li>
{% endblock %}

{% block linkElement %}
    <a href="{{ item.uri }}" class="block px-4 py-2 text-gray-800 hover:bg-gray-100">{{ block('label') }}</a>
{% endblock %}

{% block spanElement %}
    <span class="block px-4 py-2 text-gray-800">{{ block('label') }}</span>
{% endblock %}

{% block label %}
    {% if options.allow_safe_labels and item.getExtra('safe_label', false) %}
        {{- item.label|raw -}}
    {% else %}
        {{- item.label|trans(item.getExtra('translation_params', {}), item.getExtra('translation_domain')) -}}
    {% endif %}
{% endblock %}

{% block list %}
    {% if item.hasChildren and options.depth is not same as(0) and item.displayChildren %}
        {% for item in item.children %}
            {{ block('item') }}
        {% endfor %}
    {% endif %}
{% endblock %}
